# ----------------------
# Databases
# ----------------------
db/*.db
*.db

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.Trash-0/
.trash-0/

# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------
# Environment / OS
# ----------------------
.env
.env.*
.DS_Store
Thumbs.db

# ----------------------
# Docker (optional logs)
# ----------------------
*.log

# ----------------------
# ignored files
# ----------------------

plan.md